* {
  margin: 0px;
  padding: 0px;
  font-family: "Kaushan Script", cursive;
}
h1 {
  color: azure;
  text-shadow: 2px 2px 3px black;
}

/* ------------------------ SHADOW */
.shadow-bx,
button.btn {
  box-shadow: 2px 2px 5px black;
}
.shadow-txt {
  text-shadow: 1px 1px 2px black;
}
h3.navbar-brand,
a.nav-link .btn {
  text-shadow: 1px 0px 2px black, -1px 0px 2px black;
  color: aliceblue;
}
button.btn-outline-light {
  color: black;
}
/* ------------------------ Class Flex */
.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* ---------------------- El STRUCTURE */
header {
  background: center/cover url("./ressources/bg-header.png");
  border-radius: 10px;
}

main {
  min-height: 500px;
  margin-top: 2%;
}
p {
  max-width: 80%;
}
footer {
  color: black;
}

/*  ---------------------- LOGO & IMAGE */
.logo {
  width: 100px;
  height: 100px;
}
.size {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10%;
}
.map {
  width: 100%;
  height: 50%;
  min-height: 200px;
}
.contact-head {
  background: center/cover url("./ressources/contact_symbols.jpeg");
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/*  ----------------------- Formulaire */
fieldset {
  border-radius: 20px;
  box-shadow: 3px 3px 5px black, -3px -3px 10px black;
}
input,
select,
textarea {
  /* border: 0.5px solid rgb(0, 0, 0); */
  box-shadow: 1px 1px 5px black, -1px -1px 5px black;
}
/*  ------------------------- Bg Page */
.accueil-bg {
  background: radial-gradient(brown, white);
}
.accueil-bg-reverse {
  background: radial-gradient(white, brown);
}
.event-bg {
  background: radial-gradient(darkgreen, white);
}
.event-bg-reverse {
  background: radial-gradient(white, darkgreen);
}
.contact-bg {
  background: radial-gradient(#839ba5, white);
}
.contact-bg-reverse {
  background: radial-gradient(white, #8fa6ae);
}
/* -------------------------- Merdia Query */
@media screen and (max-width: 500px) {
  /* FONT SIZE */
  p,
  li {
    font-size: 12px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  /* IMG */
  .size {
    max-width: 70%;
    max-height: 70%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1200px) {
  /* FONT SIZE */
  p,
  li {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    max-width: 95%;
  }
}
